<mat-nav-list>
    <div class="profile-card">
        <div class="header">
                <h2>Ryan Braun</h2>
                <h4>ryan.braun@ahead.com</h4>
        </div>

        <img src="https://ggsc.s3.amazonaws.com/images/uploads/The_Science-Backed_Benefits_of_Being_a_Dog_Owner.jpg" alt="Whoops!">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>
    
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>
    <mat-divider></mat-divider>
    
    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
       Contacts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone_icon</mat-icon>
        Leads</a>
</mat-nav-list>

